<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hemaapp.thp">
    <!-- permissions start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 使用定位功能所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- shareSDK权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 百度推送权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 个推  start -->
    <uses-permission android:name="getui.permission.GetuiService.com.hemaapp.thp" /> <!-- 替换为第三方应用的包名 -->
    <permission
        android:name="getui.permission.GetuiService.com.hemaapp.thp"
        android:protectionLevel="normal"> <!-- 替换为第三方应用的包名 -->
    </permission>
    <!-- 个推 end -->
    <!-- permissions send -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name="com.hemaapp.thp.base.JhctmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="name,icon,label,theme"
        >
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="iOIPrq92DM7HpRS1FWzHh7" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="aeYIKiAclB7Bx2W8X4i6C3" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="4abLx4PPuU52JSb0eD1M98" /> <!-- 替换为第三方应用的APPSECRET -->
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" />

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.hemaapp.thp"
            android:exported="true"
            android:process=":pushservice" /> <!-- 替换为第三方应用的包名 -->

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.iOIPrq92DM7HpRS1FWzHh7" /> <!-- 替换为第三方应用的APPID -->
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 配置第三方Receiver -->
        <receiver
            android:name="com.hemaapp.thp.getui.PushDemoReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.iOIPrq92DM7HpRS1FWzHh7" /> <!-- 替换为第三方应用的APPID -->
            </intent-filter>
        </receiver>
        <!-- 个推SDK配置结束 -->
        <!-- 支付宝支付(如果没有安装客户端,调网页版) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- 支付宝支付end -->
        <!-- shareSDK相关 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.hemaapp.thp.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.hemaapp.thp.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- shareSDK相关end -->
        <!-- 高德地图ApiKey -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="49b883071ce9a89135f05e0ceba75f7b" />
        <!-- <meta-data
                  android:name="com.amap.api.v2.apikey"
                  android:value="d8b9c259850bbd223806426aca09506b" />-->
        <!-- 本机 -->
        <activity
            android:name="com.hemaapp.thp.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.AdsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.Register1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.WebViewActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.FindPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.Register2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SelectProvinceActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SelectCityActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SelectCountyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.CommonVipActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.VipOperationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.ChangePWDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SettingActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SuggestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.InformationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SearchActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.SearchResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.MessageListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.thp.activity.MessageActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>